:root { /*ровно тоже что и селектор html*/
    font-size: calc(0.5em + 1vw);
    /*
    14(желаемый размер шрифта в пикселях) / 16(размер шрифта по умолчанию в бразуере)
    что равняется 0.875, по этой формуле находим что что бы размер шрифта был 14px
    нужно разделить 14/16 и применить результат в размерах em
    */
}

/*
Единицы rem работаю относительно РУТОВОГО размера шрифта
Единицы em работаю относительно РОДИТЕЛЬСКОГО размера шрифта
*/

/*
Расчеты:
5vw = 5% от (1200px) размера ширины экрана
Находим 100% от 1200 = 1200 / 100 = 12
Находим 5% от 1200 = 5 * 12 = 60px будет размер 5vw при размере экрана 1200px
С vh история такая же как с vw

Расчеты:
5vmin = 5% от (наименьшей величины от ширины и высоты экрана)
Например у нас экран 390х844
Значит 5vmin = 5% от 390 (так как это наименьшая величина)
Находим 100% от 390 = 390/100 = 3.9
Находим 5% от 390 = 5 * 3.9 = 19.5 (это будет 5% от ширины экрана 390)
С vmax таже история (только берется наибольшее значение от величины и ширины экрана)
Например тот же экран 390х844 но считаться будет от 844, так как это наибольшее значение
*/

body {
    line-height: 1.2;
}

.panel {
    font-size: 1rem;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #999;
}

.panel > h2 {
    margin-top: 0;
    font-size: 0.8em; /*font-size: 0.875em = 14px, 14px * 0.8rem = текущий размер шрифта в этом селекторе*/
    font-weight: bold;
    text-transform: uppercase;
}

.panel.large {
    font-size: 1.2em;
}

.square {
    margin-top: 10px;
    width: 50vmin;
    height: 50vmin;
    background-color: #369;
}

.about-us {
    font-size: 2em;
}