body {
    font-size: 16px;
}

/*
Если вы знаете, какой размер шрифта в пикселах требуется, но хотите 
указать объявление в em, вот простая формула: разделите желаемый размер
в пикселах на родительский (наследуемый) размер в пикселах. Например,
если нужно получить размер 10 пикселов, а ваш элемент наследует размер
12 пикселов, формула будет выглядеть так: 16 / 12 = 1,3333 em.
*/

.padded {
    padding: 1em; /*1em берется из размера щрифта в данном случае 1em = 16px*/
}

.box {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small {
    font-size: 12px;
}

.box-large {
    font-size: 18px;
}

.slogan {
    font-size: 1.2em;
    padding: 1.2em;
    background-color: #ccc;
}

/*
Корневой узел — это предок всех остальных элементов документа. У него есть
особый селектор псевдокласса (:root), который используется для его назначения.
Этот прием эквивалентен задействованию селектора типа html со специфичностью
класса, а не тега.
Rem — это сокращение от root em (корневой em). Единицы rem относительны по
отношению не к текущему элементу, а к корневому. Неважно, где вы примените их
в документе, 1,2 rem будут иметь одинаковое вычисленное значение — 1,2 от размера
шрифта корневого элемента.
*/

/*
Если сомневаетесь, используйте единицы rem для размера шрифта, 
пикселы — для границ и единицы em — для большинства других свойств.
*/

:root {
    font-size: 1em;
}

ul {
    font-size: 0.8rem;
}
